/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-button-text:#111;
	--maxWidth:32rem;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: 'Dopper Regular';
	src: url(../fonts/Dopper-Regular.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Medium';
	src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Bold';
	src: url(../fonts/Gilroy-Bold.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: #FCFAF2;
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
	overflow-x: hidden;
}
/* deel van code van https://codepen.io/shooft/pen/ZEpXmrg?editors=0100 voor carrousel index
en voor verschillende afbeeldingen van productscherm */

footer {
	background-color: #f6ecc8;
}

header {
	display: flex;
	position: sticky;
	align-items: center;
    justify-content: flex-end;
	padding: 2em 1.25em;

}

header button {
	width: 4em;
	background: none;
	border: none;
}

header a:not(.toonMenu a) {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	width: 40%;
}

header a img {
	width: 100%;
}

h1, h2 {
	font-family: 'Dopper Regular';
	font-size: 36px;
}

h3 {
	font-family: Gilroy Medium;
	font-size: 28px;
	margin-top: 1em;
}
footer h3 {
	font-family: 'Gilroy Bold';
	font-size: 18px;
	padding-top: 1em;
}

p {
	font-family: 'Gilroy Medium';
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 18px;

}

li {
	font-family: 'Gilroy Medium';
	font-size: 20px;
}

section a {
	/* background-color: #0067E5; */
	text-decoration: none;
	font-family: 'Gilroy Medium';
	font-size: 18px;
	color: black;
	/* padding: .5em; */
	/* border-radius: .5em; */
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

img {
	border-radius: 20px;
	display: block;
	max-width: 100%;
}


section {
	align-items: center;
	padding: 1.5em;
}

header nav {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	transform: translate(0%, -100%);
	transition: .3s;
	color: #f6ecc8;
	background-color: #0067E5;
	font-family: 'Gilroy Bold';
	font-size: 34px;
	z-index: 9;
	height: 100%;
	overflow: hidden;
}

header nav li {
	list-style-type: none;
}

header button {
	display:grid;
	place-items:center;
	border-radius:50%;
	z-index: 10;
	margin-top: 25px;
}
  
/* alledrie de streepjes */
header button span {
	grid-row-start:1;
	grid-column-start:1;
	width:1.2em;
	height:.2em;
	background-color: var(--color-button-text);
	transition-duration:.5s;
	z-index: 12;
	scale: 120%;
}

header button img {
	z-index: 9;
	opacity: 1;
	margin-top: -26px;
}
  
/* het eerste streepje */
header button span:nth-of-type(1) {
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY */
	transform:translateY(-.4em);
}
  
/* het tweede streepje */
header button span:nth-of-type(2) {
	transform:translateY(0em);
}
	/* staat al op de goede plek
  
/* het derde streepje */
header button span:nth-of-type(3) {
	transform:translateY(.4em);
}

  /* het eerste streepje */
header button[aria-expanded="true"] span:nth-of-type(1) {
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scaleX*/
	transform:rotate(45deg) scalex(1.25);
}
  
  /* het tweede streepje */
header button[aria-expanded="true"] span:nth-of-type(2) {
	opacity:0;
}
  
  /* het derde streepje */
header button[aria-expanded="true"] span:nth-of-type(3) {
	transform:rotate(-45deg) scalex(1.25);
}
/* https://codepen.io/shooft/pen/JjQLVeB */

p.content {
	font-size: 27px;
}

header > button {
	order: 3;
}

.imgWater {
	border-radius: 0;
	scale: 115%;
	overflow-x: hidden;
	position: sticky;
}

.content h1, .content p {
	z-index: -1;
}

.toonMenu {
	transform: translate(0%, 0%);
	overflow: hidden;
	height: 100%;
	z-index: 9;
}

.removeHeader {
	transform: translate(0%, -100%);

}

.toonMenuBody {
	overflow: hidden;
}

.druppeltjes li {
	list-style-image: url('../images/drop.svg');
	font-family: 'Gilroy Medium';
}

li::marker {
	font-size: 1.2em;
	line-height: 0.1;
}

.hidden {
	opacity: 0;
	transform: translateY(10vh);
	transition: opacity 0.6s ease, transform 0.6s ease;
}
  
.visible {
	opacity: 1;
	transform: translateY(0);
}

.backgroundVideo{
	position: absolute;
	width: 100%;
	max-width: 100%;
	padding: 0;
	left: 0;
	top: 0;
	z-index: -2;
	border-radius: 0;
}

p.hidden {
	font-size: 27px;
}

.content {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	color: #f6ecc8;
	padding: 0;
	margin-top: -5px;
}

.content h1 {
	padding: 1.5em;
}

.content p {
	background-color: #015ADE;
	margin: 2em 0em 1em 0em;
	padding: 4em 1em 1em 1em;
	width: 100%;
}

.blauwbutton {
	background: #0067E5;
	color: #f9f3df;
	padding: 1em 1em;
	border-radius: 1.25em;
}

.zwartwitbutton {
	background-color: #eee;
	color: black;
	border: 0.1em solid #000000;
	padding: 1em 1em;
	border-radius: 1.25em;
}

#verpaktWater {
	margin-top: 1em;
}

#nav2 {
	white-space: nowrap;
	overflow-x: auto;
	display: flex;
	align-items: center;
	padding: 1em 2em;
}

#nav2 a:visited{
	color: #0067E5;

}
#nav2 ul {
	display: flex;
	list-style-type: none;
	gap: 1em;
}

#productinfo {
	background-color: #cce2ff;
}
/* 

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footerheel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */

#bannerProduct {
	background-color: #0067E5;
}
	/* ul {
		font-family: 'Gilroy Medium';
		list-style-image: url('../images/drop.svg');
	}
	/* ik heb deze bron gebruikt om de li tag van een rondje naar een druppel te maken
	https://www.w3schools.com/cssref/pr_list-style-image.php */
main.product section:nth-of-type(1) {
	background-color: #baccea;
	padding: 2em 1.25em 4.375em;
}

main.product section:nth-of-type(2) {
	background-color: #f9f3df;
	padding: 2em 1.25em 4.375em;
}

main.product section:nth-of-type(3) {
	background-color: #cce2ff;
	
}

/* main.product section:nth-of-type(4) {
	background-color: #0067e5;
	padding: 2em 1.25em 4.375em;
} */

  /* https://codepen.io/TheSupermazter/pen/ogvNvwJ?editors=0100  */


.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	--caroCarrouselMainColor:#0067e5;
  	--caroCarrouselAccentColor:#cce2ff;
  	position: relative;
	outline:none;
}

.caroCarrousel > ul li  {
	position: relative;

}



.caroCarrousel > ul li h3 {
	position: absolute;
	top: 0;
	left: 0.5em;
}

.caroCarrousel > ul li p {
	position: absolute;
	top: 3em;
	left: 0.5em;
}

.caroCarrousel > ul li a {
	position: absolute;
	text-decoration: underline;
	left: 1em;
	top: 26em;
}

.caroCarrousel > ul li, .caroCarrousel > ul li a {
	color: #f6ecc8;
}

.caroCarrousel > ul li:first-of-type, .caroCarrousel > ul li:first-of-type a {
	color: black;
}


/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselAccentColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	margin: 0;
  padding: 1em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:75%;
  height:75%;
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselAccentColor);
	border-radius: 50%;
  outline: none;  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselMainColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

#bolletjesAndSwipen h2 {
	margin-bottom: 0.6em;
}

/* https://codepen.io/shooft/pen/QWKqzQj?editors=0100 */


li:nth-of-type(2) h3 {
	position:absolute;
	left:1rem;
	right:1rem;
	bottom:1rem;
}

footer section:nth-of-type(2){
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1em;
	width: 100%;
}

footer li {
	list-style: none;
}

